<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Photos</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>3</integer>
			<key>Modifier</key>
			<integer>8388608</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>36</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>com.apple.Music</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>3</integer>
			<key>Modifier</key>
			<integer>8388608</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>36</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>com.apple.iWork.Keynote</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>53</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>35</integer>
			<key>Modifier</key>
			<integer>1572864</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>com.audirvana.Audirvana</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>53</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>36</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>com.elgato.eyetv</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>13</integer>
			<key>Modifier</key>
			<integer>262144</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>15</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>69</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>78</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>1048576</integer>
		</dict>
	</dict>
	<key>com.microsoft.Powerpoint</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>53</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>36</integer>
			<key>Modifier</key>
			<integer>1179648</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>default</key>
	<dict>
		<key>PlayKey</key>
		<dict>
			<key>Key</key>
			<integer>49</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>MenuKey</key>
		<dict>
			<key>Key</key>
			<integer>53</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>CenterKey</key>
		<dict>
			<key>Key</key>
			<integer>36</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>RightKey</key>
		<dict>
			<key>Key</key>
			<integer>124</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>LeftKey</key>
		<dict>
			<key>Key</key>
			<integer>123</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>DownKey</key>
		<dict>
			<key>Key</key>
			<integer>125</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
		<key>UpKey</key>
		<dict>
			<key>Key</key>
			<integer>126</integer>
			<key>Modifier</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
